{% extends 'base.html' %} {% block head %}
<title>Capture Image</title>
{% endblock %} {% block body %}
<!-- Camera -->
<div>
  <main id="camera">
    <!-- Camera sensor -->
    <canvas id="camera--sensor"></canvas>

    <!-- Camera view -->
    <video id="camera--view" autoplay playsinline capture="environment"></video>

    <!-- Camera output -->
    <img src="//:0" alt="" id="camera--output" />

    <!-- Camera trigger -->
    <button id="camera--trigger">Take a picture</button>
  </main>
</div>
{% endblock %} {% block script %}
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    token = localStorage.getItem("token");
    if (!token) window.location.replace("/login");
  });
</script>
{% endblock %}
