{% extends 'base.html' %} {% block head %}
<title>Login</title>
{% endblock %} 
{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center h-100">
  <h2 class="mb-3">Login</h2>
  <form onsubmit="login(event)">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="inputEmail"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword" />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Login</button>
  </form>
  <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
</div>
{% endblock %}
{% block script %}
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    token = localStorage.getItem("token");
    if (token) window.location.replace("/");
  });
</script>
{% endblock %}
